* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
  url('https://i.picsum.photos/id/10/2500/1667.jpg?hmac=J04WWC_ebchx3WwzbM-Z4_KC_LeLBWr5LZMaAkWkF68');
  width: 100%;
  height: 400px;
  background-size: cover;
  color: white;

}
.main {
  padding: 60px;
  margin: 80px;
}

p{
  text-align: center;
}

.card {
  width: 15%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 2%;
  color: white;
}

.image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title {
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 20px;linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73))
}

.des {
  padding: 0px;
  text-align: center;
  padding-top: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: white;
  border: 5px solid black;
  border-radius: 50%;
  padding: 10px;

}
button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
button{
  background-color:rgb(255, 255, 255);
  border-color: royalblue;
  border-radius: 50%;
}

img{
  width:300px ;
  height:400px;
}
